.sing{ 
  background-image: url("../img/Mask.svg");
 background-size: contain;
background-repeat: no-repeat;
background-position: center;
  padding: 55px 0;

 &__list{
  display: flex;
  align-items: center;
  gap: 20px;
 }
 &__hero{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
 }
 &__title{
  font-weight: 700;
font-size: 48px;
line-height: 48px;
color: #FFFFFF;
 }
}
@media screen and (max-width:768px) {
  .sing{
    width: 100%;
  }
  .sing__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
  }
}
@media screen and (max-width:428px) {
  .sing{
    width: 100%;
   padding: 15px;
  }
  .sing__hero{
    display:contents;
  }
  .sing__title{
    font-weight: 700;
font-size: 32px;
line-height: 32px;
text-align: center;
color: #FFFFFF;
    padding: 0px;
  }
}
